html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", Arial, sans-serif;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.main_block {
  width: 100%;
  padding-top: 70px;
}
.main-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 956px;
  height: 120px;
  margin-bottom: 30px;
}
.block {
  width: 1150px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 150px;
}

.block-text {
  position: relative;
  width: 1051px;
  height: 518px;
}

.block-img-top {
  position: relative;
  background-image: url("../resources/images/img-top1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1150px;
  height: 500px;
}
p.img-text-top1 {
  position: absolute;
  bottom: 0;
  width: 430px;
  height: 81px;
  color: #ffffff;
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 40px;
}

h2.text-title {
  font-size: 45px;
  font-weight: 400;
  line-height: 61.47px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 1048px;
  height: 366px;
}

.button1 {
  width: Hug (255px) px;
  height: Hug (67px) px;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  background-color: #ad1818;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

h1.metka {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
}

.signature {
  font-size: 30px;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.more_details {
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #ad1818;
}

.block_project {
  margin-bottom: 90px;
}

.button2 {
  width: 100%;
  height: 153px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ad1818;
  color: #ad1818;
  font-size: 30px;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: center;
}

.button2:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.black_box {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  background-color: #121212;
}

.black_section {
  width: 100%;
  height: 326px;
  margin-bottom: 60px;
}

.black_section:nth-last-child(1) {
  margin-bottom: 0px;
}

.block:nth-last-child(1) {
  margin-bottom: 0px;
}

.c-w {
  color: #ffffff;
}

.c-b {
  color: #121212;
}

.menu {
  width: 1150px;
  height: 25px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-between;
}

.logo {
  display: inline-block;
  align-self: flex-start;
}

.block_item {
  display: inline-block;
  align-self: flex-end;
}

.menu_item {
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  margin-left: 60px;
  text-decoration: none;
  color: #121212;
  text-align: center;
}

.menu_item:hover {
  color: #121212;
  text-decoration: underline;
  opacity: 0.5;
}

.block_menu {
  position: fixed;
  margin: 0;
  z-index: 9999;
}

.room_apartament {
  position: relative;
  height: 717px;
  background-image: url("../resources/images/2-room_apartment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.img-text-top2 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-left: 125px;
  margin-bottom: 60px;
}

.tele {
  font-size: 60px;
  color: #121212;
  text-decoration: none;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
}

.email {
  font-size: 60px;
  color: #121212;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  opacity: 50%;
}

.m-c {
  margin-top: 186px;
  margin-bottom: 150px;
}

.befor:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../resources/images/icon-phone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 12px;
}

.menu_item1:first-child {
  margin-left: 0;
}

footer {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 60px;
  width: 100%;
  height: 229px;
  background-color: #121212;
}

.menu_item1 {
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  margin-left: 60px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.menu_item1:hover {
  color: #ffffff;
  opacity: 0.5;
}

.block_item1 {
  display: flex;
}

.coper {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-align: center;
  opacity: 50%;
}
